In [1]:
from pandas import DataFrame, read_csv

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
%matplotlib inline

Location = r'Train.csv'
df = pd.read_csv(Location)
Lables =r'Labels.csv'
df_targets = pd.read_csv(Lables)
Test = r'Test.csv'
df_test = pd.read_csv(Test)

In [2]:
df_joined = pd.concat([df, df_targets.status_group], axis=1, join_axes=[df.index])

In [3]:
df_joined.shape

(59400, 41)

In [4]:
df_joined.head(2)

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,69572,6000.0,3/14/11,Roman,1390,Roman,34.938093,-9.856322,none,0,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
1,8776,0.0,3/6/13,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional

In [5]:
df2=df_joined.copy()

In [6]:
df2.head(2)

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,69572,6000.0,3/14/11,Roman,1390,Roman,34.938093,-9.856322,none,0,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
1,8776,0.0,3/6/13,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional

Remove ''id',scheme_name', 'funder', 'subvillage', 'ward','recorded_by', 'wpt_name','date_recorded'

In [7]:
df2.drop(['id','scheme_name', 'funder', 'subvillage', 'ward','recorded_by', 'wpt_name','date_recorded'], axis=1, inplace=True)

In [8]:
df2.head(2)

,amount_tsh,gps_height,installer,longitude,latitude,num_private,basin,region,region_code,district_code,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,6000.0,1390,Roman,34.938093,-9.856322,0,Lake Nyasa,Iringa,11,5,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
1,0.0,1399,GRUMETI,34.698766,-2.147466,0,Lake Victoria,Mara,20,2,...,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional

In [9]:
df3=df2.copy()
df3.dropna(axis =0, inplace = True)
print(df3.shape)

(48685, 33)

In [12]:
df_columns = pd.DataFrame()
df_columns['WellFeatures'] = df3.columns
var=[]
cell_type=[]
for k in range(0,33):
    row=len(df3[df3.columns[k]].unique())
    var_type= type(df_joined.columns[k])
    var=np.append(var,row)
    cell_type=np.append(cell_type,var_type)
df_columns['Unique_Values'] = var
df_columns['Variable_type'] = cell_type
df_columns

             WellFeatures  Unique_Values  Variable_type
0              amount_tsh           91.0  <class 'str'>
1              gps_height         2426.0  <class 'str'>
2               installer         1800.0  <class 'str'>
3               longitude        47313.0  <class 'str'>
4                latitude        47315.0  <class 'str'>
5             num_private           58.0  <class 'str'>
6                   basin            9.0  <class 'str'>
7                  region           21.0  <class 'str'>
8             region_code           27.0  <class 'str'>
9           district_code           18.0  <class 'str'>
10                    lga          118.0  <class 'str'>
11             population          991.0  <class 'str'>
12         public_meeting            2.0  <class 'str'>
13      scheme_management           12.0  <class 'str'>
14                 permit            2.0  <class 'str'>
15      construction_year           55.0  <class 'str'>
16        extraction_type           18.0  <class 'str'>
17  extraction_type_group           13.0  <class 'str'>
18  extraction_type_class            7.0  <class 'str'>
19             management           12.0  <class 'str'>
20       management_group            5.0  <class 'str'>
21                payment            7.0  <class 'str'>
22           payment_type            7.0  <class 'str'>
23          water_quality            8.0  <class 'str'>
24          quality_group            6.0  <class 'str'>
25               quantity            5.0  <class 'str'>
26         quantity_group            5.0  <class 'str'>
27                 source           10.0  <class 'str'>
28            source_type            7.0  <class 'str'>
29           source_class            3.0  <class 'str'>
30        waterpoint_type            7.0  <class 'str'>
31  waterpoint_type_group            6.0  <class 'str'>
32           status_group            3.0  <class 'str'>

In [13]:
y=df3.pop('status_group')

In [14]:
df3.shape

(48685, 32)

In [16]:

for i in range(6,32):
    df3[df3.columns[i]] = df3[df3.columns[i]].astype('category')
    cat_name = df3.columns[i] +'_cat'
    df3[cat_name] = df3[df3.columns[i]].cat.codes
df3.head(3)

,amount_tsh,gps_height,installer,longitude,latitude,num_private,basin,region,region_code,district_code,...,payment_type_cat,water_quality_cat,quality_group_cat,quantity_cat,quantity_group_cat,source_cat,source_type_cat,source_class_cat,waterpoint_type_cat,waterpoint_type_group_cat
0,6000.0,1390,Roman,34.938093,-9.856322,0,Lake Nyasa,Iringa,11,5,...,0,6,2,1,1,8,6,0,1,1
2,25.0,686,World vision,37.460664,-3.821329,0,Pangani,Manyara,21,4,...,5,6,2,1,1,0,1,1,2,1
3,0.0,263,UNICEF,38.486161,-11.155298,0,Ruvuma / Southern Coast,Mtwara,90,63,...,2,6,2,0,0,3,0,0,2,1

In [17]:
df4=df3[['amount_tsh', 'gps_height',
       'longitude', 'latitude', 'num_private', 'population',
       'construction_year', 'basin_cat', 'region_cat',
       'region_code_cat', 'district_code_cat', 'lga_cat', 'public_meeting_cat',
       'scheme_management_cat', 'permit_cat', 'extraction_type_cat',
       'extraction_type_group_cat', 'extraction_type_class_cat',
       'management_cat', 'management_group_cat', 'payment_cat',
       'payment_type_cat', 'water_quality_cat', 'quality_group_cat',
       'quantity_cat', 'quantity_group_cat', 'source_cat', 'source_type_cat',
       'source_class_cat', 'waterpoint_type_cat', 'waterpoint_type_group_cat']]

In [18]:
y.shape

(48685,)

In [19]:
df4.shape

(48685, 31)

In [20]:
df5=df4.copy()

In [21]:
df5.head()

,amount_tsh,gps_height,longitude,latitude,num_private,population,construction_year,basin_cat,region_cat,region_code_cat,...,payment_type_cat,water_quality_cat,quality_group_cat,quantity_cat,quantity_group_cat,source_cat,source_type_cat,source_class_cat,waterpoint_type_cat,waterpoint_type_group_cat
0,6000.0,1390,34.938093,-9.856322,0,109,1999,1,3,10,...,0,6,2,1,1,8,6,0,1,1
2,25.0,686,37.460664,-3.821329,0,250,2009,5,8,20,...,5,6,2,1,1,0,1,1,2,1
3,0.0,263,38.486161,-11.155298,0,58,1986,7,12,25,...,2,6,2,0,0,3,0,0,2,1
5,20.0,0,39.172796,-4.765587,0,1,2009,5,20,3,...,5,4,4,1,1,4,2,2,2,1
6,0.0,0,33.362410,-3.766365,0,0,0,0,17,16,...,2,6,2,1,1,3,0,0,4,3

In [22]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
X=df5



X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=0.2, random_state = 5)
print (X_train.shape)
print (X_test.shape)
print (Y_train.shape)
print (Y_test.shape)

(38948, 31)
(9737, 31)
(38948,)
(9737,)

In [23]:
clf = LogisticRegression()
# Fit the model on the trainng data.
clf.fit(X_train, Y_train)
# Print the accuracy from the testing data.
print(accuracy_score(clf.predict(X_test), Y_test))

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

0.64311389545

In [24]:
#the grid of parameters to search over
Cs = [0.001, 0.1, 1, 10, 100,1000]
results = []
max_score = 0
for c in Cs:
    clf = LogisticRegression(C=c)
    clf.fit(X_train, Y_train)
    score = accuracy_score(clf.predict(X_train),Y_train)
    print ('%f score: %f' % (c, score))
    if (score > max_score):
        max_score = score
        best_c = c
print ("Best C: " + str(best_c))

LogisticRegression(C=0.001, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

0.001000 score: 0.640777

LogisticRegression(C=0.1, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

0.100000 score: 0.643499

LogisticRegression(C=1, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

1.000000 score: 0.642395

LogisticRegression(C=10, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

10.000000 score: 0.641984

LogisticRegression(C=100, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

100.000000 score: 0.643679

LogisticRegression(C=1000, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

1000.000000 score: 0.641907
Best C: 100

In [25]:
clf = LogisticRegression(C=best_c)
clf.fit(X_train, Y_train)
accuracy = accuracy_score(clf.predict(X_test),Y_test)
print(accuracy)

LogisticRegression(C=100, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

0.643319297525

In [26]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold

clf = LogisticRegression(C=best_c)
df_kfold = pd.DataFrame(['Scores', 'MSE','STD'], columns = ['KFolds Score'])


    
scores = cross_val_score(clf, X_train, Y_train, scoring='accuracy', cv=4)
kfold_mse = np.mean(np.abs(scores))
kfold_std = np.std(scores)

print("KFold Scores:", scores)
print("Mean KFold Scores:", kfold_mse)
print('Std KFold Scores:', kfold_std)

KFold Scores: [ 0.64428014  0.64551243  0.63711997  0.64564503]
Mean KFold Scores: 0.643139390275
Std KFold Scores: 0.00351583150746

In [ ]:

import numpy as np
import matplotlib.pyplot as plt
from itertools import cycle

from sklearn import svm, datasets
from sklearn.metrics import roc_curve, auc
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import label_binarize
from sklearn.multiclass import OneVsRestClassifier
from scipy import interp


X = df5

# Binarize the output
y_bin = label_binarize(y, classes=['functional','functional needs repair','non functional'])
n_classes = y_bin.shape[1]

# shuffle and split training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y_bin, test_size=.2,
                                                    random_state=0)
# Learn to predict each class against the other
classifier = OneVsRestClassifier(svm.SVC(kernel='linear', probability=True,
                                 random_state=0))
y_score = classifier.fit(X_train, y_train).decision_function(X_test)

# Compute ROC curve and ROC area for each class
fpr = dict()
tpr = dict()
roc_auc = dict()
for i in range(n_classes):
    fpr[i], tpr[i], _ = roc_curve(y_test[:, i], y_score[:, i])
    roc_auc[i] = auc(fpr[i], tpr[i])

# Compute micro-average ROC curve and ROC area
fpr["micro"], tpr["micro"], _ = roc_curve(y_test.ravel(), y_score.ravel())
roc_auc["micro"] = auc(fpr["micro"], tpr["micro"])

In [ ]:
# Compute macro-average ROC curve and ROC area

# First aggregate all false positive rates
all_fpr = np.unique(np.concatenate([fpr[i] for i in range(n_classes)]))

# Then interpolate all ROC curves at this points
mean_tpr = np.zeros_like(all_fpr)
for i in range(n_classes):
    mean_tpr += interp(all_fpr, fpr[i], tpr[i])

# Finally average it and compute AUC
mean_tpr /= n_classes

fpr["macro"] = all_fpr
tpr["macro"] = mean_tpr
roc_auc["macro"] = auc(fpr["macro"], tpr["macro"])

# Plot all ROC curves
plt.figure()
plt.plot(fpr["micro"], tpr["micro"],
         label='micro-average ROC curve (area = {0:0.2f})'
               ''.format(roc_auc["micro"]),
         color='deeppink', linestyle=':', linewidth=4)

plt.plot(fpr["macro"], tpr["macro"],
         label='macro-average ROC curve (area = {0:0.2f})'
               ''.format(roc_auc["macro"]),
         color='navy', linestyle=':', linewidth=4)

colors = cycle(['aqua', 'darkorange', 'cornflowerblue'])
for i, color in zip(range(n_classes), colors):
    plt.plot(fpr[i], tpr[i], color=color, lw=lw,
             label='ROC curve of class {0} (area = {1:0.2f})'
             ''.format(i, roc_auc[i]))

plt.plot([0, 1], [0, 1], 'k--', lw=lw)
plt.xlim([0.0, 1.0])
plt.ylim([0.0, 1.05])
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.title('Some extension of Receiver operating characteristic to multi-class')
plt.legend(loc="lower right")
plt.show()

In [27]:
# your turn
from sklearn.grid_search import GridSearchCV
from sklearn.metrics import classification_report

# GridSearchCV(estimator, param_grid, scoring=None, fit_params=None, n_jobs=1, iid=True, refit=True, cv=None, verbose=0, pre_dispatch='2*n_jobs', error_score='raise')[source]¶
param_grid = {'C': [0.001, 0.1, 1, 10, 100,1000]}
clf = GridSearchCV(LogisticRegression(C=1), param_grid=param_grid)
clf.fit(X_train, Y_train.values.ravel())
print("Best Params:")
print(clf.best_params_)

print ("Grid scores:")
for params, mean_score, scores in clf.grid_scores_:
    print("%0.6f (+/-%0.06f) for %r"
          % (mean_score, scores.std() * 2, params))
    
accuracy = accuracy_score(clf.predict(X_test),Y_test)
print("Accuracy: %f" % accuracy)

print("Detailed classification report:")
print()
print("The model is trained on the full development set.")
print("The scores are computed on the full evaluation set.")
print()
y_true, y_pred = Y_test, clf.predict(X_test)
print(classification_report(y_true, y_pred))

print("Best Estimator: ")
print(clf.best_estimator_)

/Users/jtlam/anaconda/lib/python3.6/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/Users/jtlam/anaconda/lib/python3.6/site-packages/sklearn/grid_search.py:43: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

GridSearchCV(cv=None, error_score='raise',
       estimator=LogisticRegression(C=1, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'C': [0.001, 0.1, 1, 10, 100, 1000]},
       pre_dispatch='2*n_jobs', refit=True, scoring=None, verbose=0)

Best Params:
{'C': 100}
Grid scores:
0.639827 (+/-0.007606) for {'C': 0.001}
0.641753 (+/-0.009284) for {'C': 0.1}
0.641471 (+/-0.008412) for {'C': 1}
0.641548 (+/-0.007669) for {'C': 10}
0.642575 (+/-0.008055) for {'C': 100}
0.642241 (+/-0.008520) for {'C': 1000}
Accuracy: 0.643319
Detailed classification report:

The model is trained on the full development set.
The scores are computed on the full evaluation set.

                         precision    recall  f1-score   support

             functional       0.64      0.82      0.72      5310
functional needs repair       0.53      0.01      0.02       673
         non functional       0.65      0.50      0.57      3754

            avg / total       0.64      0.64      0.61      9737

Best Estimator:
LogisticRegression(C=100, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [28]:
from sklearn.multiclass import OneVsRestClassifier
from sklearn.multiclass import OneVsOneClassifier
OVR = OneVsRestClassifier(LogisticRegression()).fit(X_train, Y_train.values.ravel())
OVO = OneVsOneClassifier(LogisticRegression()).fit(X_train, Y_train.values.ravel())
print ('One vs rest accuracy: %.3f' % OVR.score(X_test,Y_test))
print ('One vs one accuracy: %.3f'% OVO.score(X_test,Y_test))

One vs rest accuracy: 0.641
One vs one accuracy: 0.643

In [29]:

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score, average_precision_score, r2_score
import numpy as np

X=df5




names = df5.columns
rf = RandomForestClassifier(n_estimators = 100, oob_score = True,n_jobs = 1,random_state =1)
rf.fit(X_train, Y_train)
df_rf = pd.DataFrame(list(zip(X.columns, rf.feature_importances_)), columns = ['features', 'feature importance'])
df_rf
print ("Score : ", rf.score(X_test,Y_test ))

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=100, n_jobs=1, oob_score=True, random_state=1,
            verbose=0, warm_start=False)

                     features  feature importance
0                  amount_tsh            0.024522
1                  gps_height            0.072933
2                   longitude            0.144200
3                    latitude            0.141030
4                 num_private            0.001716
5                  population            0.048606
6           construction_year            0.053466
7                   basin_cat            0.015526
8                  region_cat            0.017563
9             region_code_cat            0.017274
10          district_code_cat            0.021156
11                    lga_cat            0.028221
12         public_meeting_cat            0.006646
13      scheme_management_cat            0.014162
14                 permit_cat            0.008568
15        extraction_type_cat            0.020883
16  extraction_type_group_cat            0.021647
17  extraction_type_class_cat            0.022918
18             management_cat            0.015955
19       management_group_cat            0.006123
20                payment_cat            0.021462
21           payment_type_cat            0.016170
22          water_quality_cat            0.007878
23          quality_group_cat            0.007644
24               quantity_cat            0.077085
25         quantity_group_cat            0.069093
26                 source_cat            0.014538
27            source_type_cat            0.013145
28           source_class_cat            0.005391
29        waterpoint_type_cat            0.038067
30  waterpoint_type_group_cat            0.026416

Score :  0.812365204889

In [30]:
rf.predict(X_test)

array(['functional needs repair', 'functional', 'non functional', ...,
       'non functional', 'functional', 'non functional'], dtype=object)

In [31]:
rf.predict_proba(X_test)

array([[ 0.21,  0.65,  0.14],
       [ 0.96,  0.04,  0.  ],
       [ 0.05,  0.  ,  0.95],
       ...,
       [ 0.  ,  0.  ,  1.  ],
       [ 0.7 ,  0.03,  0.27],
       [ 0.2 ,  0.  ,  0.8 ]])

In [32]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import roc_auc_score, average_precision_score, r2_score
import numpy as np



# Create a function called rf,
def randomforest_leaf(sample_leaf_options):
    # Create an empty data frame
    df_rf = pd.DataFrame()

    # Create a column of feature names

    df_rf['Feature Name'] = df5.columns
    df_rf.loc[32] = 'score'
    df_rf.loc[33] = 'n_features_'
    

   # For each alpha value in the list of alpha values,
    for leaf_size in sample_leaf_options :
            # Create a random forest regression,
        rf = RandomForestClassifier(n_estimators = 500, oob_score = True,n_jobs = 1,random_state =1, max_features = "auto", min_samples_leaf = leaf_size)

            # Fit the lasso regression
        rf.fit(X_train,Y_train)
            # Create a column name for that leaf size value
        column_name = 'Leaf Size %f' % leaf_size

            # Create a column of coefficient values
        var1 = np.append(rf.feature_importances_, rf.score(X_test,Y_test ))
        var = np.append(var1,rf.n_features_)
        df_rf[column_name] = var

        # Return the dataframe    
    return df_rf

In [33]:
X = X_train
Y = Y_train
randomforest_leaf([1,5,10,50,100,200,500])

,Feature Name,Leaf Size 1.000000,Leaf Size 5.000000,Leaf Size 10.000000,Leaf Size 50.000000,Leaf Size 100.000000,Leaf Size 200.000000,Leaf Size 500.000000
0,amount_tsh,0.025325,0.031717,0.032309,0.039009,0.039275,0.043915,0.049662
1,gps_height,0.072911,0.048139,0.039472,0.024539,0.019817,0.018701,0.017215
2,longitude,0.144483,0.086818,0.073857,0.053068,0.045384,0.041090,0.030868
3,latitude,0.140416,0.079626,0.065261,0.040137,0.032225,0.025803,0.017537
4,num_private,0.001783,0.001042,0.000709,0.000280,0.000105,0.000000,0.000000
5,population,0.048835,0.032623,0.026175,0.015200,0.011625,0.007991,0.006080
6,construction_year,0.054115,0.054536,0.052282,0.046904,0.044924,0.045471,0.046764
7,basin_cat,0.015306,0.017541,0.016863,0.014298,0.013528,0.011188,0.009127
8,region_cat,0.017478,0.023099,0.024779,0.022860,0.023141,0.020857,0.018826
9,region_code_cat,0.016949,0.022192,0.022963,0.021895,0.019867,0.017081,0.013410
10,district_code_cat,0.020654,0.023823,0.023678,0.018744,0.015074,0.012001,0.008271
11,lga_cat,0.028398,0.035665,0.034504,0.028419,0.025235,0.020652,0.013732
12,public_meeting_cat,0.006692,0.005384,0.004626,0.002712,0.002217,0.001414,0.001483
13,scheme_management_cat,0.013811,0.014949,0.014416,0.013225,0.011594,0.010251,0.007344
14,permit_cat,0.008574,0.007977,0.007446,0.005437,0.004402,0.003144,0.001906
15,extraction_type_cat,0.019879,0.025877,0.025240,0.028777,0.030703,0.029963,0.036157
16,extraction_type_group_cat,0.020021,0.025006,0.025668,0.030891,0.033649,0.031139,0.037989
17,extraction_type_class_cat,0.022307,0.032711,0.037700,0.044385,0.047876,0.054893,0.062499
18,management_cat,0.015949,0.017851,0.018672,0.018496,0.018591,0.017193,0.016328
19,management_group_cat,0.006173,0.005946,0.005437,0.004502,0.003638,0.002680,0.000899
20,payment_cat,0.021584,0.025547,0.026657,0.028743,0.029350,0.029450,0.030667
21,payment_type_cat,0.016193,0.017820,0.018828,0.017825,0.016654,0.017768,0.017579
22,water_quality_cat,0.007998,0.005004,0.003627,0.001806,0.001333,0.001294,0.000000
23,quality_group_cat,0.007871,0.005457,0.004432,0.002714,0.002532,0.002098,0.001299
24,quantity_cat,0.073905,0.109729,0.122022,0.154140,0.168966,0.174688,0.183969
25,quantity_group_cat,0.073350,0.109115,0.124863,0.154716,0.163474,0.176380,0.182381
26,source_cat,0.015051,0.017611,0.017501,0.015456,0.015013,0.013597,0.011744
27,source_type_cat,0.012448,0.014323,0.014635,0.013309,0.010730,0.010632,0.008380
28,source_class_cat,0.005547,0.005988,0.005532,0.004581,0.003846,0.002881,0.001679
29,waterpoint_type_cat,0.035691,0.051869,0.058147,0.065888,0.075735,0.080950,0.083410
30,waterpoint_type_group_cat,0.030305,0.045016,0.051698,0.067045,0.069498,0.074836,0.082795
32,score,0.813084,0.810311,0.800041,0.770771,0.758755,0.738626,0.723323
33,n_features_,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000

In [34]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import roc_auc_score, average_precision_score, r2_score
import numpy as np



# Create a function called rf,
def randomforest_nestimators(sample_nestimators):
    # Create an empty data frame
    df_rf = pd.DataFrame()

    # Create a column of feature names

    df_rf['Feature Name'] = df5.columns
    df_rf.loc[32] = 'score'
    df_rf.loc[33] = 'n_features_'
    

   # For each alpha value in the list of alpha values,
    for nestimators in sample_nestimators :
            # Create a random forest regression,
        rf = RandomForestClassifier(n_estimators = nestimators, oob_score = True,n_jobs = 1,random_state =1, max_features = "auto", min_samples_leaf = 50)

            # Fit the lasso regression
        rf.fit(X_train,Y_train)
            # Create a column name for that leaf size value
        column_name = 'n estimators %f' % nestimators

            # Create a column of coefficient values
        var1 = np.append(rf.feature_importances_, rf.score(X_test,Y_test ))
        var = np.append(var1,rf.n_features_)
        df_rf[column_name] = var

        # Return the dataframe    
    return df_rf

In [35]:
X = X_train
Y = Y_train
randomforest_nestimators([1,5,50,500,1000,5000])

/Users/jtlam/anaconda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:439: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
/Users/jtlam/anaconda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:444: RuntimeWarning: invalid value encountered in true_divide
  predictions[k].sum(axis=1)[:, np.newaxis])
/Users/jtlam/anaconda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:439: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
/Users/jtlam/anaconda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:444: RuntimeWarning: invalid value encountered in true_divide
  predictions[k].sum(axis=1)[:, np.newaxis])

,Feature Name,n estimators 1.000000,n estimators 5.000000,n estimators 50.000000,n estimators 500.000000,n estimators 1000.000000,n estimators 5000.000000
0,amount_tsh,0.022873,0.023406,0.038095,0.039009,0.037862,0.036056
1,gps_height,0.060411,0.027392,0.026071,0.024539,0.024079,0.024154
2,longitude,0.040036,0.057461,0.055266,0.053068,0.052313,0.051463
3,latitude,0.038825,0.044378,0.040611,0.040137,0.040161,0.040459
4,num_private,0.000000,0.000130,0.000222,0.000280,0.000249,0.000269
5,population,0.024266,0.021500,0.015987,0.015200,0.015118,0.014805
6,construction_year,0.052513,0.054487,0.047159,0.046904,0.046973,0.046903
7,basin_cat,0.024987,0.013850,0.013601,0.014298,0.014573,0.015011
8,region_cat,0.041712,0.023708,0.023238,0.022860,0.022852,0.023179
9,region_code_cat,0.011614,0.024737,0.020419,0.021895,0.022371,0.021902
10,district_code_cat,0.028577,0.019985,0.019502,0.018744,0.018279,0.018384
11,lga_cat,0.019929,0.028710,0.028411,0.028419,0.028884,0.029096
12,public_meeting_cat,0.007457,0.003067,0.002623,0.002712,0.002790,0.002844
13,scheme_management_cat,0.013805,0.010682,0.012591,0.013225,0.012718,0.012048
14,permit_cat,0.004648,0.006178,0.005251,0.005437,0.005567,0.005555
15,extraction_type_cat,0.038496,0.023793,0.026187,0.028777,0.028806,0.027412
16,extraction_type_group_cat,0.009446,0.022633,0.030499,0.030891,0.030267,0.029595
17,extraction_type_class_cat,0.028948,0.038709,0.058063,0.044385,0.045985,0.048468
18,management_cat,0.002201,0.011092,0.018278,0.018496,0.019574,0.020449
19,management_group_cat,0.004348,0.006111,0.004624,0.004502,0.004346,0.004255
20,payment_cat,0.029598,0.032136,0.033747,0.028743,0.027885,0.028999
21,payment_type_cat,0.014634,0.018355,0.017008,0.017825,0.017997,0.018558
22,water_quality_cat,0.000000,0.003658,0.003471,0.001806,0.002195,0.002168
23,quality_group_cat,0.000000,0.000289,0.001370,0.002714,0.002613,0.002678
24,quantity_cat,0.274242,0.183188,0.144445,0.154140,0.152968,0.154869
25,quantity_group_cat,0.070332,0.146999,0.150369,0.154716,0.155333,0.154092
26,source_cat,0.037229,0.019267,0.018887,0.015456,0.015486,0.015819
27,source_type_cat,0.009614,0.023376,0.012220,0.013309,0.012687,0.012427
28,source_class_cat,0.004000,0.005873,0.005548,0.004581,0.004664,0.004677
29,waterpoint_type_cat,0.080923,0.073375,0.067334,0.065888,0.069090,0.069993
30,waterpoint_type_group_cat,0.004337,0.031474,0.058900,0.067045,0.065312,0.063413
32,score,0.740680,0.766766,0.769128,0.770771,0.770771,0.772004
33,n_features_,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000

In [41]:
df6=df5.copy()

In [42]:
df6.columns

Index(['amount_tsh', 'gps_height', 'longitude', 'latitude', 'num_private',
       'population', 'construction_year', 'basin_cat', 'region_cat',
       'region_code_cat', 'district_code_cat', 'lga_cat', 'public_meeting_cat',
       'scheme_management_cat', 'permit_cat', 'extraction_type_cat',
       'extraction_type_group_cat', 'extraction_type_class_cat',
       'management_cat', 'management_group_cat', 'payment_cat',
       'payment_type_cat', 'water_quality_cat', 'quality_group_cat',
       'quantity_cat', 'quantity_group_cat', 'source_cat', 'source_type_cat',
       'source_class_cat', 'waterpoint_type_cat', 'waterpoint_type_group_cat'],
      dtype='object')

In [43]:
df6.drop(['latitude'],axis=1, inplace=True)

In [44]:
df6.head(2)

,amount_tsh,gps_height,longitude,num_private,population,construction_year,basin_cat,region_cat,region_code_cat,district_code_cat,...,payment_type_cat,water_quality_cat,quality_group_cat,quantity_cat,quantity_group_cat,source_cat,source_type_cat,source_class_cat,waterpoint_type_cat,waterpoint_type_group_cat
0,6000.0,1390,34.938093,0,109,1999,1,3,10,5,...,0,6,2,1,1,8,6,0,1,1
2,25.0,686,37.460664,0,250,2009,5,8,20,4,...,5,6,2,1,1,0,1,1,2,1

In [45]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
X=df6



X_train1, X_test1, Y_train1, Y_test1 = train_test_split(X, y, test_size=0.2, random_state = 5)
print (X_train1.shape)
print (X_test1.shape)
print (Y_train1.shape)
print (Y_test1.shape)

(38948, 30)
(9737, 30)
(38948,)
(9737,)

In [46]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix
NaBayes = GaussianNB()
NaBayes.fit(X_train1, Y_train1)
print ("The accuracy score for the training set is %f" % NaBayes.score(X_train1, Y_train1))
print ("The accuracy score for the test set is %f" % NaBayes.score(X_test1, Y_test1))

GaussianNB(priors=None)

The accuracy score for the training set is 0.564676
The accuracy score for the test set is 0.573380

In [47]:
from sklearn.naive_bayes import MultinomialNB
NaBayes = MultinomialNB()
NaBayes.fit(X_train1, Y_train1)
print ("The accuracy score for the training set is %f" % NaBayes.score(X_train1, Y_train1))
print ("The accuracy score for the test set is %f" % NaBayes.score(X_test1, Y_test1))

ValueError: Input X must be non-negative

In [ ]:
df3.columns

In [48]:
df3_nocat = df3[['amount_tsh', 'gps_height', 'installer', 'longitude', 'latitude',
       'num_private', 'basin', 'region', 'region_code', 'district_code', 'lga',
       'population', 'public_meeting', 'scheme_management', 'permit',
       'construction_year', 'extraction_type', 'extraction_type_group',
       'extraction_type_class', 'management', 'management_group', 'payment',
       'payment_type', 'water_quality', 'quality_group', 'quantity',
       'quantity_group', 'source', 'source_type', 'source_class',
       'waterpoint_type', 'waterpoint_type_group']]

In [49]:
df3_nocat.head(3)

,amount_tsh,gps_height,installer,longitude,latitude,num_private,basin,region,region_code,district_code,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,6000.0,1390,Roman,34.938093,-9.856322,0,Lake Nyasa,Iringa,11,5,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
2,25.0,686,World vision,37.460664,-3.821329,0,Pangani,Manyara,21,4,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,0.0,263,UNICEF,38.486161,-11.155298,0,Ruvuma / Southern Coast,Mtwara,90,63,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe

In [50]:
X=df3_nocat
X_train2, X_test2, Y_train2, Y_test2 = train_test_split(X, y, test_size=0.2, random_state = 5)
print (X_train2.shape)
print (X_test2.shape)
print (Y_train2.shape)
print (Y_test2.shape)

(38948, 32)
(9737, 32)
(38948,)
(9737,)

In [51]:
NaBayes = MultinomialNB()
NaBayes.fit(X_train2, Y_train2)
print ("The accuracy score for the training set is %f" % NaBayes.score(X_train2, Y_train2))
print ("The accuracy score for the test set is %f" % NaBayes.score(X_test2, Y_test2))

ValueError: could not convert string to float: 'other'

In [52]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score, average_precision_score, r2_score
import numpy as np

X=df3_nocat




rf = RandomForestClassifier(n_estimators = 100, oob_score = True,n_jobs = 1,random_state =1)
rf.fit(X_train2, Y_train2)
df_rf = pd.DataFrame(list(zip(X.columns, rf.feature_importances_)), columns = ['features', 'feature importance'])
df_rf
print ("Score : ", rf.score(X_test2,Y_test2 ))

ValueError: could not convert string to float: 'other'